/*CheckBox button sytles*/

.checkbox {
    padding-left: 20px;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
    cursor: Pointer;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 10px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid gray;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox input[type="checkbox"]:checked+label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.checkbox input[type="checkbox"]:checked+label::after {
    font-family: "FontAwesome";
    content: "\f00c";
    color: #fff;
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1px;
    top: 3px;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
}


/*Radio button sytles*/

.radio {
    padding-left: 20px;
}

.checkbox input[type="radio"] {
    opacity: 0;
    z-index: 1;
    cursor: Pointer;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio input[type="radio"]:checked+label::after {
    display: inline-block;
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    left: 4px;
    /*Important*/
    top: 4px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #5cb85c;
}